@import url('./src/index.css');

body {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 400px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

#popup-root {
  width: 100%;
  height: 100%;
}